body{
    display: flex;
    justify-content: center;
}

.container{
    margin: 5rem;
    border: black solid 0.5rem;
    border-radius: 1.5rem;
    height: 80vh;
    width: 80vw;
    background: linear-gradient(135deg, orange 60%, cyan);
}
  
.button {
    background-color: #04AA6D; /* Green */
    border: #04AA6D solid;
    border-radius: 1.5rem;
    color: white;
    padding: 16px 32px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  .button:hover {
    background-color: white;
    color: #04AA6D;
  }


.unclickable {
    position: relative;
    background-color: red;
    color: white;
    border: red solid;
    border-radius: 1.5rem;
  }
  
  .unclickable:hover {
    background-color: white;
    color: red;
  }


  .button-container{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
    top: 5vh;
  }

  .heading {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .gif-container{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: auto;
  }
